a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
    color: var(--black)
}

    a:hover, a:active{
        color: var(--red);}

#assoc-grid{
    display: grid;
    grid-template-columns: auto;

    grid-template-areas: "assoc-title"
    "a1"
    "a2"
    "a3"
    "a4";

    @include md{
        grid-template-columns: 50% auto;

        grid-template-areas: "assoc-title assoc-title"
        "a1 a2"
        "a3 a4";
    }

    #assoc-title{
        grid-area: assoc-title;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #a1{
        grid-area: a1;
        padding-top: 0;
        margin-top: 0;
    }

    #a2{
        grid-area: a2;
    }

    #a3{
        grid-area: a3;
    }

    #a4{
        grid-area: a4;
    }
}